.star-rating__icon {
    position: relative;
}

.star-rating__icon--active:before {
    content: '\2605';
    position: absolute;
    left: 0;
    overflow: hidden;
}

.star-rating__icon--quarter:before {
    width: 40%;
}

.star-rating__icon--half:before {
    width: 52%;
}

.star-rating__icon--three-quarters:before {
    width: 65%;
}
